# Categorial data

In [1]:
import pandas as pd

Let's create a dataframe to illustrate the categorical data problem.
<br>
<br>
There are to types of categorical data 

1.   Nominal: We can order, for example the size of a tumor. 
2.   Ordinal: There are no specific order. For example a black shoe does not imply that is bigger than a white one.

In [3]:
df=pd.DataFrame([['green','M',10.1, 'class1'],['red','L',13.5,'class2'],['blue','XL', 15.3, 'class1']])
df.colums=['color','size','price','classlabel']
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

       0   1     2       3
0  green   M  10.1  class1
1    red   L  13.5  class2
2   blue  XL  15.3  class1

The last dataframe contains:

*   A nominal variable (Size).
*   Ordinal variable (color).
*   Numerical feature (price).