In [35]:
%matplotlib inline
import numpy as np
import scipy as sp
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Set color map to have light blue background
sns.set()
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [36]:
columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']
df = pd.read_csv("auto-mpg.data", header=None, delimiter=r"\s+", names=columns) 
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [3]:
df.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [4]:
for i in columns:
    print(i, df[i].isnull().sum())

mpg 0
cylinders 0
displacement 0
horsepower 0
weight 0
acceleration 0
model_year 0
origin 0
car_name 0

In [5]:
for i in columns:
    print(i, df[i].isna().sum())

mpg 0
cylinders 0
displacement 0
horsepower 0
weight 0
acceleration 0
model_year 0
origin 0
car_name 0

In [6]:
a = [np.nan, None, [], {}, 'NaN', 'Null','NULL','None','NA','?','-', '.','', ' ', '   ']
nulldemo = pd.DataFrame(a)

In [7]:
for c in df.columns:
    string_null = np.array([x in a[2:] for x in df[c]])
    print(c, df[c].isnull().sum(), string_null.sum())

mpg 0 0
cylinders 0 0
displacement 0 0
horsepower 0 6
weight 0 0
acceleration 0 0
model_year 0 0
origin 0 0
car_name 0 0

In [8]:
(6/398)*100

1.507537688442211

In [9]:
df=df.drop('car_name',axis=1)

In [10]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1
394,44.0,4,97.0,52.00,2130.0,24.6,82,2
395,32.0,4,135.0,84.00,2295.0,11.6,82,1
396,28.0,4,120.0,79.00,2625.0,18.6,82,1
397,31.0,4,119.0,82.00,2720.0,19.4,82,1

In [34]:
df.replace({'?': 'NaN'})

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...,...
387,393,27.0,4,140.0,86.00,2790.0,15.6,82,1
388,394,44.0,4,97.0,52.00,2130.0,24.6,82,2
389,395,32.0,4,135.0,84.00,2295.0,11.6,82,1
390,396,28.0,4,120.0,79.00,2625.0,18.6,82,1
391,397,31.0,4,119.0,82.00,2720.0,19.4,82,1

In [12]:
for c in df.columns:
    string_null = np.array([x in a[2:] for x in df[c]])
    print(c, df[c].isnull().sum(), string_null.sum())

mpg 0 0
cylinders 0 0
displacement 0 0
horsepower 0 6
weight 0 0
acceleration 0 0
model_year 0 0
origin 0 0

In [13]:
df[0:50]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
5,15.0,8,429.0,198.0,4341.0,10.0,70,1
6,14.0,8,454.0,220.0,4354.0,9.0,70,1
7,14.0,8,440.0,215.0,4312.0,8.5,70,1
8,14.0,8,455.0,225.0,4425.0,10.0,70,1
9,15.0,8,390.0,190.0,3850.0,8.5,70,1
10,15.0,8,383.0,170.0,3563.0,10.0,70,1
11,14.0,8,340.0,160.0,3609.0,8.0,70,1
12,15.0,8,400.0,150.0,3761.0,9.5,70,1
13,14.0,8,455.0,225.0,3086.0,10.0,70,1
14,24.0,4,113.0,95.00,2372.0,15.0,70,3
15,22.0,6,198.0,95.00,2833.0,15.5,70,1
16,18.0,6,199.0,97.00,2774.0,15.5,70,1
17,21.0,6,200.0,85.00,2587.0,16.0,70,1
18,27.0,4,97.0,88.00,2130.0,14.5,70,3
19,26.0,4,97.0,46.00,1835.0,20.5,70,2
20,25.0,4,110.0,87.00,2672.0,17.5,70,2
21,24.0,4,107.0,90.00,2430.0,14.5,70,2
22,25.0,4,104.0,95.00,2375.0,17.5,70,2
23,26.0,4,121.0,113.0,2234.0,12.5,70,2
24,21.0,6,199.0,90.00,2648.0,15.0,70,1
25,10.0,8,360.0,215.0,4615.0,14.0,70,1
26,10.0,8,307.0,200.0,4376.0,15.0,70,1
27,11.0,8,318.0,210.0,4382.0,13.5,70,1
28,9.0,8,304.0,193.0,4732.0,18.5,70,1
29,27.0,4,97.0,88.00,2130.0,14.5,71,3
30,28.0,4,140.0,90.00,2264.0,15.5,71,1
31,25.0,4,113.0,95.00,2228.0,14.0,71,3
32,25.0,4,98.0,?,2046.0,19.0,71,1
33,19.0,6,232.0,100.0,2634.0,13.0,71,1
34,16.0,6,225.0,105.0,3439.0,15.5,71,1
35,17.0,6,250.0,100.0,3329.0,15.5,71,1
36,19.0,6,250.0,88.00,3302.0,15.5,71,1
37,18.0,6,232.0,100.0,3288.0,15.5,71,1
38,14.0,8,350.0,165.0,4209.0,12.0,71,1
39,14.0,8,400.0,175.0,4464.0,11.5,71,1
40,14.0,8,351.0,153.0,4154.0,13.5,71,1
41,14.0,8,318.0,150.0,4096.0,13.0,71,1
42,12.0,8,383.0,180.0,4955.0,11.5,71,1
43,13.0,8,400.0,170.0,4746.0,12.0,71,1
44,13.0,8,400.0,175.0,5140.0,12.0,71,1
45,18.0,6,258.0,110.0,2962.0,13.5,71,1
46,22.0,4,140.0,72.00,2408.0,19.0,71,1
47,19.0,6,250.0,100.0,3282.0,15.0,71,1
48,18.0,6,250.0,88.00,3139.0,14.5,71,1
49,23.0,4,122.0,86.00,2220.0,14.0,71,1

In [14]:
df.loc[df['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
32,25.0,4,98.0,?,2046.0,19.0,71,1
126,21.0,6,200.0,?,2875.0,17.0,74,1
330,40.9,4,85.0,?,1835.0,17.3,80,2
336,23.6,4,140.0,?,2905.0,14.3,80,1
354,34.5,4,100.0,?,2320.0,15.8,81,2
374,23.0,4,151.0,?,3035.0,20.5,82,1

In [15]:
df.drop([32,126,330,336,354,374],axis=0,inplace=True)

In [16]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1
394,44.0,4,97.0,52.00,2130.0,24.6,82,2
395,32.0,4,135.0,84.00,2295.0,11.6,82,1
396,28.0,4,120.0,79.00,2625.0,18.6,82,1
397,31.0,4,119.0,82.00,2720.0,19.4,82,1

In [17]:
df.loc[df['horsepower'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin]
Index: []

In [19]:
df[0:35]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
5,15.0,8,429.0,198.0,4341.0,10.0,70,1
6,14.0,8,454.0,220.0,4354.0,9.0,70,1
7,14.0,8,440.0,215.0,4312.0,8.5,70,1
8,14.0,8,455.0,225.0,4425.0,10.0,70,1
9,15.0,8,390.0,190.0,3850.0,8.5,70,1
10,15.0,8,383.0,170.0,3563.0,10.0,70,1
11,14.0,8,340.0,160.0,3609.0,8.0,70,1
12,15.0,8,400.0,150.0,3761.0,9.5,70,1
13,14.0,8,455.0,225.0,3086.0,10.0,70,1
14,24.0,4,113.0,95.00,2372.0,15.0,70,3
15,22.0,6,198.0,95.00,2833.0,15.5,70,1
16,18.0,6,199.0,97.00,2774.0,15.5,70,1
17,21.0,6,200.0,85.00,2587.0,16.0,70,1
18,27.0,4,97.0,88.00,2130.0,14.5,70,3
19,26.0,4,97.0,46.00,1835.0,20.5,70,2
20,25.0,4,110.0,87.00,2672.0,17.5,70,2
21,24.0,4,107.0,90.00,2430.0,14.5,70,2
22,25.0,4,104.0,95.00,2375.0,17.5,70,2
23,26.0,4,121.0,113.0,2234.0,12.5,70,2
24,21.0,6,199.0,90.00,2648.0,15.0,70,1
25,10.0,8,360.0,215.0,4615.0,14.0,70,1
26,10.0,8,307.0,200.0,4376.0,15.0,70,1
27,11.0,8,318.0,210.0,4382.0,13.5,70,1
28,9.0,8,304.0,193.0,4732.0,18.5,70,1
29,27.0,4,97.0,88.00,2130.0,14.5,71,3
30,28.0,4,140.0,90.00,2264.0,15.5,71,1
31,25.0,4,113.0,95.00,2228.0,14.0,71,3
33,19.0,6,232.0,100.0,2634.0,13.0,71,1
34,16.0,6,225.0,105.0,3439.0,15.5,71,1
35,17.0,6,250.0,100.0,3329.0,15.5,71,1

In [22]:
df.reset_index(inplace=True)

In [31]:
df[350:372]

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
350,355,33.7,4,107.0,75.00,2210.0,14.4,81,3
351,356,32.4,4,108.0,75.00,2350.0,16.8,81,3
352,357,32.9,4,119.0,100.0,2615.0,14.8,81,3
353,358,31.6,4,120.0,74.00,2635.0,18.3,81,3
354,359,28.1,4,141.0,80.00,3230.0,20.4,81,2
355,360,30.7,6,145.0,76.00,3160.0,19.6,81,2
356,361,25.4,6,168.0,116.0,2900.0,12.6,81,3
357,362,24.2,6,146.0,120.0,2930.0,13.8,81,3
358,363,22.4,6,231.0,110.0,3415.0,15.8,81,1
359,364,26.6,8,350.0,105.0,3725.0,19.0,81,1
360,365,20.2,6,200.0,88.00,3060.0,17.1,81,1
361,366,17.6,6,225.0,85.00,3465.0,16.6,81,1
362,367,28.0,4,112.0,88.00,2605.0,19.6,82,1
363,368,27.0,4,112.0,88.00,2640.0,18.6,82,1
364,369,34.0,4,112.0,88.00,2395.0,18.0,82,1
365,370,31.0,4,112.0,85.00,2575.0,16.2,82,1
366,371,29.0,4,135.0,84.00,2525.0,16.0,82,1
367,372,27.0,4,151.0,90.00,2735.0,18.0,82,1
368,373,24.0,4,140.0,92.00,2865.0,16.4,82,1
369,375,36.0,4,105.0,74.00,1980.0,15.3,82,2
370,376,37.0,4,91.0,68.00,2025.0,18.2,82,3
371,377,31.0,4,91.0,68.00,1970.0,17.6,82,3

In [32]:
df["horsepower"].median()

93.5